.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.h1 {
    color: #000000;
    font-size: 2.5rem;
    margin: 2rem 0;
    font-weight: 500;
}

.container {
    max-width: 800px;
    width: 80%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 242, 255)
}

.listItem {
    margin-bottom: 1rem;
    /* ✅ ここで余白 */
}
